.contenedor-principal {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
  }
  /*general*/

  .titulo {
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .grid-departamentos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .tarjeta-cuadrada {
    background-color: #ffcc00;
    border-color: #000000;
    border-radius: 15px;
    padding: 1rem;
    min-height: auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.929);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow: hidden;
    transition: transform 0.2s;

   align-items: center;
  text-align: center;

     gap: 0.5rem;
     overflow: hidden;
     transition: transform 0.2s;
  }
  
  
  .nombre-departamento {
    font-size: 1.6rem;
    color: #000000;

    display: block;
    text-align: center;
  }
  
  .capital {
    font-size: 0.9rem;
    color: #000000;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }
  
  .boton {
    background-color:  #003087;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 6px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  .boton:hover {
    background-color: #3466c3;
  }
  
  .lista-ciudades {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #000000;
    padding-left: 1.2rem;
  }
  
  .modal-tarjeta {
    background-color: #ffcc00;
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: aparecer 0.3s ease;
  }
  

  .imagen-mapa {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 0.5rem;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.718);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
  }
  
  .modal-imagen {
    max-width: 95vw;
    max-height: 95vh;
    padding: 1rem;
    background-color: #ffffff00;
    border-radius: 1px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0);
    overflow: auto;
  }
  
  .modal-imagen img {
    width: 100%;
    height: auto;
    border-radius: 1px;
    display: block;
  }
  
  
  .cursor-pointer {
    cursor: pointer;
  }
  

  .boton-cerrar-modal {
    background-color: #C8102E;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 0.85rem;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-end;
  }
  
  .boton-cerrar-modal:hover {
    background-color: #610414;
  }
  
  @keyframes aparecer {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  /*barra de navegacion*/
.barra-navegacion {
    background-color: #e1a331;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(173, 43, 43, 0.689);
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .nav-boton {
    background-color: #e4ae4d;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
  }
  
  .nav-boton:hover {
    background-color: #000000;
  }
  

  /*página de inicio */
.contenedor-inicio {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
 
  .tarjeta-inicio {
    background-color:#e8be70e5;
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
  }
  
  

  body {
    background-image: url('https://www.banderas-mundo.es/data/flags/w1600/co.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  